{% extends "base.html.twig" %}

{% block title %}Tickets - Login{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form action="{{ path("login_check") }}" method="post">
                    <div class="form-group">
                        <label for="username">Log in</label>
                        <input type="text" name="login_user[username]" class="form-control" id="username" placeholder="Username">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}