{% extends "base.html.twig" %}

{% block title %}Tickets - Listings{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <h3>Your listings <a href="/listings/create"><small>New</small></a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <table class="table table-bordered">
                    <thead>
                        <td><strong>Description</strong></td>
                        <td><strong>Selling Price</strong></td>
                        <td></td>
                    </thead>
                    <tbody>
                        {% for listing in listings %}
                            <tr>
                                <td>{{ listing.description }}</td>
                                <td>{{ listing.sellingPrice }}</td>
                                <td><a href="/listings/view/{{ listing.id }}" class="btn btn-primary btn-sm">View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}