{% extends "base.html.twig" %}

{% block title %}Tickets - {{ listing.description }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <h3>{{ listing.description }} - {{ listing.sellingPrice }} <a href="/listings"><small>Back</small></a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h4>Tickets</h4>
                <table class="table table-bordered">
                    <thead>
                    <td><strong>Ticket Number</strong></td>
                    <td></td>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>Ticket {{ ticket.id }}</td>
                            <td><a href="/tickets/view/{{ ticket.id }}" class="btn btn-primary btn-sm">View</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}