{% extends "base.html.twig" %}

{% block title %}Ticket {{ ticket.id }} - {{ ticket.listing.description }} {{ ticket.listing.sellingPrice }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-3">
                <h3>Ticket {{ ticket.id }} - {{ ticket.listing.description }} {{ ticket.listing.sellingPrice }} <a href="/listings/view/{{ ticket.listing.id }}"><small>Back</small></a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h4>Barcodes</h4>
                <table class="table table-bordered">
                    <tbody>
                    {% for barcode in barcodes %}
                        <tr>
                            <td>{{ barcode.barcode }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h4>Add Barcode</h4>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}